* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #3e2f1d;
    --secondary-color: #a6b17b;
    --accent-color: #5ba75b;
    --background: #d1bfa8;
    --text: #060419;
}

body {
    margin: 2px;
    background: var(--background);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

header {
    background: var(--primary-color);
    height: fit-content;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

h1,
h2,
h3 {
    text-align: center;
}

h2 {
    background-color: var(--primary-color);
    color: var(--background);
}

h1 {
    color: var(--background);
}

#menu {
    border: 0;
    background: none;
    font-size: 2rem;
    position: absolute;
    top: 15px;
    right: 20px;
}

#menu::before {
    content: "☰";
    color: var(--accent-color);
}

#menu:hover {
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
}

#menu.open::before {
    content: "⍑";
}

.navigation {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.open {
    display: flex;
}

nav a {
    color: var(--secondary-color);
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    margin: 30px auto;
}

p {
    margin: 10px;
    padding: 5px;
}

ul,
ol {
    margin: 10px;
    padding: 5px;
    padding-left: 25px;
}

section {
    background: var(--primary-color);
    color: var(--background);

}

article {
    background: var(--secondary-color);
    border: 2px solid var(--primary-color);
}

.listView {
    background-color: var(--background);
    margin: 10px;
    padding: 5px;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    box-shadow: 0 0 4 #3e2f1d9a;
}

.listView:hover {
    background-color: var(--accent-color);
}

aside {
    background: var(--secondary-color);
    border: 2px solid var(--primary-color);
}

.home-img {
    width: 100%;
    text-align: center;
}

#bowl {
    border: 1px solid var(--primary-color);
    border-radius: 25%;
}

img {
    width: 90%;
    padding: 20px;
    text-align: center;
    margin: auto;
}

.proj-img {
    border-radius: 25%;
}

#add-entry {
    width: 60px;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--text)
}

dialog {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--background);
    box-shadow: 0 0 40px var(--secondary-color);
    width: fit-content;
    margin: auto;
}

dialog form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

label {
    padding: 15px;

}

::backdrop {
    background-color: #5ba75b8a;
}

dialog button {
    margin: 15px;
    padding: 3px;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: var(--secondary-color);
}

footer {
    text-align: center;
    background-color: var(--secondary-color);
}

#lastModified {
    color: var(--accent-color);
    background-color: var(--primary-color);
    width: fit-content;
    margin: auto;
    border-radius: 5px;
}


@media screen and (min-width: 600px) {

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    main {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }

    #add-entry {
        position: absolute;
        right: 5%;
        top: 10px;
    }

    #activePage {
        grid-row: 1;
        grid-column: 1 / span 2;
        width: 50%;
        padding: 10px;
        margin: 10px auto;
        border-radius: 10px;
    }

    section {
        grid-column: 2;
        grid-row: 2;
        border-radius: 10px;
        margin: 20px;
    }

    article {
        grid-column: 1;
        grid-row: 2 / span 3;
        margin: auto;
        border-radius: 10px;
    }

    aside {
        grid-column: 2;
        grid-row: 3;
        border-radius: 10px;
        margin: 20px auto;
    }

    #projects-aside {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        overflow: hidden;
        width: 400px;
        height: 400px;
        position: relative;
    }

    .proj-img {
        position: absolute;
        top: 5%;
        left: 13%;
        width: 240px;
        height: auto;
        transition: transform 1s ease-in-out;
    }

    .partial {
        opacity: 0.6;
        transform: scale(0.95);
        /* Slightly shrink side images */
    }
}